<template>
  <div class="root-div">
    <h1 class="primary-color">Lerua.co</h1>
    <div class="navigation">
      <nuxt-link to="/provided">provided</nuxt-link> /
      <nuxt-link to="/">main</nuxt-link> /
    </div>
    <NuxtPage />
  </div>
</template>
