<template>
  <div>
    <n-space>
      <n-button type="primary">naive-ui</n-button>
      <n-button type="info">naive-ui</n-button>
      <n-button type="warning">naive-ui</n-button>
    </n-space>
    <n-h2 class="xxx">Tooltip demo</n-h2>
    <n-tooltip trigger="hover">
      <template #trigger>
        <n-button>鸭子</n-button>
      </template>
      coming soon
    </n-tooltip>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import { NButton, NSpace, NH2, NTooltip } from 'naive-ui';

  export default defineComponent({
    components: {
      NButton,
      NSpace,
      NH2,
      NTooltip
    }
  });
</script>

<style lang="scss">
  .xxx {
    color: $primary;
  }
</style>
